.page-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.shopping-container {
    box-shadow: 8px 2px 2px grey;
    width: 70%;
    height: 100%;
    margin-top: 2%;
    overflow-y: scroll;
}

.heading {
    height: 10%;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total {
    
}

.lower-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 4px 2px 2px grey;
}

.total-holder {
    font-weight: bolder;
    font-size: 40px;
}

.submit-button {
    border: 1px solid black;
    padding: 6px;
    width: 10vw;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  .cart-button {

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .submit-button:hover, .submit-button:focus, .submit-button:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
  }